<%= content_for :title, "Home | " %>

<div class='home'>
  <h1 class='home_title'>Blog App <span>by <a href='https://github.com/KUBAHO3/' target='_blank'>Heaven</a></span></h1>
  <p class='home_description'>The Blog app is a classic example of a blog website. I am creating a fully functional website that will show the list of posts and empower readers to interact with them by adding comments and liking posts.</p>
</div>