<div class='post_comment_card'>
    <div class='post_comment_author'>
        <p><%= comment.author.name %></p>
    </div>
    <div class='post_comment_text'>
        <p><%= comment.text %></p>
    </div>
</div>