html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --red: rgb(194, 31, 31);
  --light-red: rgba(197, 43, 43, 0.671);
  --green: rgb(15, 176, 50);
  --black: rgb(0, 0, 0);
  --very-dark: rgb(15, 15, 15);
  --dark: rgb(30, 30, 30);
  --dark-grey: rgb(101, 101, 101);
  --grey: rgb(182, 182, 182);
  --light-grey: rgb(231, 231, 231);
  --very-light-grey: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--grey);
  color: var(--dark-grey);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--very-dark);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  padding: 1rem;
  max-width: 60em;
  margin: 0 auto;
}

.title {
  margin: 2rem 0;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: var(--white);
}
